::selection {
    background: #ffeaa7;
    /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: #ffeaa7;
    /* Gecko Browsers */
}

@media (max-width: 760px) {
    .simple-container {
        margin-top: 50px;
        padding-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
        margin: auto;
        width: 80%;
    }
}

@media (min-width: 760px) {
    .simple-container {
        margin-top: 50px;
        padding-top: 50px;
        padding-left: 60px;
        padding-right: 60px;
        margin-left: 50px;
        width: 650px;
    }
}

.simple-container {
    background-color: #FFFFFF;
    margin-bottom: 100px;
}

body {
    background-color: #EEEEEE;
    font-family: 'Lato', Helvetica, sans-serif;
    font-size: 1.6rem;
    color: #746D69;
    font-size: 300;
    margin: 0;
    box-sizing: border-box;
    overflow-x: auto;
}

.indented {
    padding-left: 20px;
}

.name {
    font-family: 'Lato', Helvetica, sans-serif;
    font-weight: 500;
    font-size: 2.5rem;
    margin: 0;
}

.header {
    padding-top: 10px;
    width: 100%;
    font-size: 1.6rem;
    padding-bottom: 10px;
}

.connect {
    padding-bottom: 10px;
}

.me {
    padding-bottom: 30px;
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header-right {
    float: right;
    padding-top: 20px;
    font-weight: 700;
}

.header-left {
    float: left;
    padding-top: 20px;
    font-weight: 700;
}

.header-link {
    text-decoration: none;
    text-transform: capitalize;
    padding: 3px 7px 3px 7px;
    fill: #746D69;
    border-radius: 5px;
    font-size: 1.3rem;
    -webkit-transition: color .25s, fill .25s, opacity .25s;
    -o-transition: color .25s, fill .25s, opacity .25s;
    transition: color .25s, fill .25s, opacity .25s;
    text-decoration: none;
}

.header-link:hover {
    fill: #746D69;
}

a {
    color: #0abde3;
}

.tag {
    color: #718093;
    font-weight: 200;
    text-align: right;
    font-family: 'Overpass Mono', monospace;
}

.basic {
    color: #718093;
    font-weight: 200;
}

@media (max-width: 550px) {
    .tag {
        text-align: left;
        padding-bottom: 10px;
    }

    .article-date {
        display: none;
    }
}

.personal-elem {
    padding-top: 10px;
}

.article-date {
    float: right;
    font-family: 'Overpass Mono', monospace;
}

.article-title {
    float: left;
}

.article-link {
    color: #746D69;
    border-bottom: 1px solid #d4d7dd;
    text-decoration: none;
    -webkit-transition: color .25s, fill .25s, opacity .25s;
    -o-transition: color .25s, fill .25s, opacity .25s;
    transition: color .25s, fill .25s, opacity .25s;
}

.article-link:hover {
    text-decoration-color: #0abde3;
    border-bottom: 1px solid #0abde3;
}

.end-article-title {
    font-size: 12px;
}

.end-article-link {
    text-decoration: none;
}

.project,
.article {
    padding-bottom: 10px;
}

.link {
    color: #4c525c;
    text-decoration: none;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    border-bottom: 1px solid #d4d7dd;
}

.link:hover {
    opacity: 1;
}

.highlight-b {
    font-weight: 700;
    color: #82b1ff; /* Pastel blue */
}

.highlight-r {
    font-weight: 700;
    color: #ff8a80; /* Pastel red */
}

.highlight-y {
    font-weight: 700;
    color: #fdbc00; /* Pastel yellow */
}

.highlight-g {
    font-weight: 700;
    color: #8f9779; /* Pastel green */
}

.highlight-p {
    font-weight: 700;
    color: #ce93d8; /* Pastel purple */
}

.list {
    list-style-position: outside;
    padding-left: 15px;
    font-size: 1.5rem;
}

.news {
    border-left: 4px solid #0abde3;
    font-size: 14px;
    padding: 10px;
    margin: 10px;
}

.subpage {
    color: #8f9779;
    font-weight: 500;
    font-size: 2.5rem;
    margin-bottom: 0px;
}

.back {
    margin-bottom: 1rem;
    margin-top: -2.5rem;

}

.year {
    margin-bottom: 0px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
}

.small-header {
    font-size: 1.5rem;
    color: grey;
    margin-bottom: 0;
}

.now {
    border-left: #e1eeff solid 3px;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.now-text {
    margin: 0;
}

body {
    background-color: #EEEEEE;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 160 80' width='160' height='80'%3E%3Cpath fill='%23085420' fill-opacity='0.05' d='M0 80a39.92 39.92 0 0 1 11.8-28.22 40.34 40.34 0 0 1 38.88-10.4A40 40 0 0 1 40.4 80H0zM130.64 1.5A40.04 40.04 0 0 1 81.6 50.52 40.04 40.04 0 0 1 130.64 1.52zM.14 0h40.2l-.16.14A40.04 40.04 0 0 1 1.5 10.5 40.16 40.16 0 0 1 .14 0zm3.88 80h5.06l8.52-8.48v-19.56A35.92 35.92 0 0 0 4 80zm10.76 0h19.6a35.96 35.96 0 0 0 13.34-32.84L14.8 80zm6.86-30.84v18.34l23.24-23.18c-7.94-1-16.16.6-23.24 4.84zm65.72-1.56A36 36 0 0 0 127.7 7.26L87.36 47.6zm14.4-38.34v18.3L124.86 4.44c-7.92-1-16.1.6-23.14 4.8zm-6.98 5.44c-8.2 8.2-11.62 19.38-10.26 30.06l13.22-13.2V12.04c-1.02.82-2 .7-2.96 2.66zM34.36 0H14.84L7.28 7.56A36 36 0 0 0 34.36 0zM4.16 0c-.02 1.6.08 3.16.28 4.74L9.18 0H4.14z'%3E%3C/path%3E%3C/svg%3E");
}